[submodule "lib/crcrme_material_theme"]
	path = lib/crcrme_material_theme
	url = https://github.com/Guibi1/crcrme_material_theme.git
[submodule "external/enhanced_containers"]
	path = external/enhanced_containers
	url = https://github.com/cr-crme/enhanced_containers
