rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /enterprises/jobs/{imageName} {
      allow read;
      allow write;
    }
  }
}
