{
    "backend": {
        "ip": "localhost",
        "port": 3456,
        "protocol": {
            "secured": "wss",
            "unsecured": "ws"
        },
        "endpoint": {
            "dev": "dev-connect",
            "production": "connect"
        },
        "bug-report-endpoint": "bug-report"
    }
}